<html>
<head>

	<script type="text/javascript" src="./js/vendor/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="./js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="./js/vendor/backbone-min.js"></script>
	<script type="text/javascript" src="./js/vendor/backbone.marionette.js"></script>
</head>
<body>
	<div class="container">
		<div class="row contentRegion"></div>
	</div>


	<script type="text/template" id="tpl-listing-layout">
		<div class="header-section-container"></div>
		<div class="item-description-section-container"></div>
		<div class="item-collection-container"></div>
		<div class="shipping-container"></div>
		<div class="disclaimer-section-container"></div>
	</script>

	<script type="text/template" id="tpl-section">
		<div class="col-xs-12 section-header">
			<%- header %>
		</div>
		<div class="col-xs-12 section-content"></div>
	</script>

	<script type="text/template" id="tpl-item">
		<div class="floatLeft"><%- itemNumber %>)</div>
		<div class="floatLeft marginL20"> 
			<div class="itemTitle"><%- title %></div>
			<a href="<%- imgLink %>"><img src="<%- thumbnail %>" title="<%- title %>" /></a>
		</div>
	</script>

	<script type="text/javascript" src="./js/application/data/data.js"></script>

	<script type="text/javascript" src="./js/application.js"></script>
	<script type="text/javascript" src="./js/application/models/models.js"></script>

	<script type="text/javascript" src="./js/application/modules/data/data.js"></script>

	<script type="text/javascript" src="./js/application/modules/listing/listing.js"></script>
	<script type="text/javascript" src="./js/application/modules/listing/listing.views.js"></script>
	<script type="text/javascript" src="./js/application/modules/listing/listing.controller.js"></script>




	<script type="text/javascript">
		application.start();
	</script>
</body>
</html>