/**
 * Content
 **/
body {
	background-color: #eef3ef;			
}

.main {
	margin-top: 60px;
}


.tab-content {
	background-color: #fff;

	border: 1px solid #ddd;
	border-top-color: transparent;
}

/*  should be off the screen */
.copy-textarea {
	position: fixed;
	left: -100000px;
	top: 0;
}

.add-product-btn {
	padding-top: 16px;
	padding-bottom: 16px;
	border: 1px solid #aaa;
	border-radius: 0;
	background-color: #ded;

	font-size: 16px;
}

/**
 * Listing Form
 **/
.listing-form-container {
	background-color: #f6f6fe;
}

.product {
	background-color: #eef3ef;
	border: 1px solid #aaa;
}

.product.even {
	background-color: #f3f9ed;
}

.product-image {
	width: 100%;
}

.add-product {
	padding: 20px;
	border: 1px solid #aaa;
}

.new-product-upload-container {
	position: relative;
	display: inline-block;
}

.new-product-upload {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

/**
 * Preview
 **/
.section {
	margin-bottom: 25px;
}

.item {
	padding-bottom: 25px;
}

.item-title {
	height: 40px;
}


/**
 * Utility classes	
 **/
.u-width-100 {
	width: 100%;
}

.u-pad-v-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.u-margin-t-20 {
	margin-top: 20px;
}

.u-bordered {
	border: 1px solid #ccc;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

