<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="itemTitle panel-title"><%- itemNumber %>) <%- title %></h3>
	</div>
	<div class="panel-body"> 
		<a class="col-xs-12" href="<%- imgLink %>">
			<img class="block width100" src="<%- thumbnail %>" title="<%- title %>" />
		</a>
	</div>
</div>