<ul class="list-group">
	<li class="list-group-item">All items come bagged and boarded.</li>
	<li class="list-group-item"><a href="http://imgur.com/a/tX3n3" target="blank">Example of Mailing Process</a></li>
	<li class="list-group-item">Feel free to browse <a href="http://www.ebay.com/sch/how_bout_some_comics/m.html">my other items</a>. All items can be combined for a set $5.00 shipping fee.</li>
</ul>