<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container js-region-main main"></div>

	<script data-main="js/require-main" src="js/vendor/require.js"></script>


	<script type="text/template" id="tpl-main-page-layout">
		<div class="js-listing-form-container listing-form-container"></div>
		<div class="js-output-container"></div>
	</script>


	<script type="text/template" id="tpl-listting-form-product-create">
		<div class="row u-pad-v-20">
			<div class="col-sm-10">
				<div class="form-group">
					<label for="new-product-title" class="col-sm-3 control-label">Title</label>
					<div class="col-sm-9">
						<input id="new-product-title" class="form-control" type="text" placeholder="Ener title" value="{{-title}}">
					</div>
				</div>

				<div class="form-group">
					<label for="new-product-description" class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<input id="new-product-description" class="form-control" type="text" placeholder="Enter description" value={{-description}}>
					</div>
				</div>

				<div class="form-group">
					<label for="new-product-image-link" class="col-sm-3 control-label">Image Link</label>
					<div class="col-sm-9">
						<input id="new-product-image-link" class="form-control" type="text" placeholder="Enter Image Link" value="{{-image_link}}">
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<span class="pull-right btn btn-default new-product-upload-container">
							<span>Upload Image</span>
							<input id="upload" class="new-product-upload js-new-product-upload" type="file">
						</span>
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				<img class="js-product-image product-image" src="{{-image_link}}">
			</div>
		</div>
	</script>


	<script type="text/template" id="tpl-listing-form-product-list">
		<div class="row">
			<div class="js-products-container products-container"></div>
		</div>
		
		<div class="row">
			<button class="js-add-product add-product-btn btn col-xs-12" type="button">
				Add A Product
			</button>
		</div>
	</script>


	<script type="text/template" id="tpl-listing-form-form">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<h2 class="col-xs-12">Create Listing</h2>
			</div>
			
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">Header</label>
					<div class="col-sm-7">
						<input id="listing-header" class="form-control" type="text" placeholder="Enter listing title" value="{{-title}}">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Description</label>
					<div class="col-sm-7">
						<input id="listing-description" class="form-control" type="text" placeholder="Enter listing description" value="{{-description}}">
					</div>
				</div>

				<div class="js-product-container form-group"></div>

				<div class="form-group">
					<div class="col-xs-12">
						<button class="btn btn-primary pull-right" type="submit">Save Listing</button>
					</div>
				</div>
			</form>
		</div>
	</script>


	<script type="text/template" id="tpl-listing-layout">
		<div class="">
			<div class="header-section-container"></div>
			<div class="item-description-section-container"></div>
			<div class="item-collection-container"></div>
			<div class="shipping-container"></div>
			<div class="disclaimer-section-container"></div>
		</div>
	</script>


	<script type="text/template" id="tpl-section">
		<div class="col-xs-12 section-header">
			<h4>{{- header }}</h4>
		</div>
		<div class="col-xs-12 section-content"></div>
	</script>


	<script type="text/template" id="tpl-listing-header">
		<div class="col-xs-12">
			<h1 class="page-header">{{- title }}</h1>
			<div class="lead">{{- description }}</div>
		</div>
	</script>


	<script type="text/template" id="tpl-listing">
		<div class="js-listing-container col-xs-10 col-xs-offset-1"></div>
		<div class="col-xs-11">
			<button class="js-copy-button btn btn-default pull-right" type="button">Copy HTML</button>
		</div>
		<textarea class="js-copy-textarea copy-textarea"></textarea>
	</script>


	<script type="text/template" id="tpl-shipping">
		<ul class="list-group">
			<li class="list-group-item">All items come bagged and boarded.</li>
			<li class="list-group-item"><a href="http://imgur.com/a/tX3n3" target="blank">Example of Mailing Process</a></li>
			<li class="list-group-item">Feel free to browse <a href="http://www.ebay.com/sch/how_bout_some_comics/m.html">my other items</a>. All items can be combined for a set $5.00 shipping fee.</li>
		</ul>
	</script>


	<script type="text/template" id="tpl-disclaimer">
		<div>
			If you have any questions regarding the items, please, feel free to ask and I'll answer as best as I can.
		</div>
		<div style="margin-top:25px;">
			Thanks for looking!
		</div>
	</script>


	<script type="text/template" id="tpl-item">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="item-title panel-title">{{- title }}</h3>
				{{- description }}
			</div>
			<div class="panel-body"> 
				<a class="col-xs-12" href="{{- image_link }}">
					<img class="block u-width-100" src="{{- image_link }}" title="{{- title }}" />
				</a>
			</div>
		</div>
	</script>


	<script type="text/template" id="tpl-tab-wrapper">
		<ul class="nav nav-tabs" role="tablist"></ul>
		<div class="tab-content"></div>
	</script>


	<script type="text/template" id="tpl-tab-view">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#listing-form" role="tab" data-toggle="tab">Listing Creation Form</a>
			</li>
			<li role="presentation">
				<a href="#listing-preview" role="tab" data-toggle="tab">Preview</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="listing-form" role="tabpanel" class="tab-pane active"></div>
			<div id="listing-preview" role="tabpanel" class="tab-pane"></div>
		</div>
	</script>


	<script type="text/template" id="tpl-template">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<style>
			.u-width-100 {
				width: 100%;
			}

			.item {
				padding-bottom: 25px;
			}

			.item-title {
				height: 40px;
			}

			.section {
				margin-bottom: 25px;
			}

			.u-bordered {
				border: 1px solid #ccc;
				padding: 10px 20px 10px 20px;
				margin-bottom: 10px;
			}
		</style>

		<div class="container">
			<div class="js-content row"></div>
		</div>
	</script>

</body>
</html>