<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<style>
		.u-width-100 {
			width: 100%;
		}

		.u-pad-v-20 {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.u-margin-t-20 {
			margin-top: 20px;
		}

		.product-image {
			width: 100%;
			max-height: 200px;
		}

		.listing-form-container {
			background-color: #f6f6fe;
		}

		.listing-form-empty {
			padding: 20px;
		}

		.product {
			background-color: #d4d4e4;
			border: 1px solid #aaa;
		}

		.product.even {
			background-color: #e0e0f0;
		}

		.products-container {
			border: 1px solid #aaa;
		}

				.width100 {
			width: 100%;
		}

		.item {
			padding-bottom: 25px;
		}

		.itemTitle {
			height: 40px;
		}

		.section {
			margin-bottom: 25px;
		}

		.padH20 {
			padding-left: 20px;
			padding-right: 20px;
		}

		.bordered {
			border: 1px solid #ccc;
  			padding: 10px 20px 10px 20px;
  			margin-bottom: 10px;
		}

	</style>
</head>
<body>
	<div class="container js-region-main"></div>

	<script data-main="js/require-main" src="js/vendor/require.js"></script>

	<script type="text/template" id="tpl-main-page-layout">
		<div class="js-listing-form-container listing-form-container"></div>
		<div class="js-output-container"></div>
	</script>

	<script type="text/template" id="tpl-listng-form-product-list-item">
		<div class="col-xs-8">
			<div class="row">
				<div>{{- title }}</div>
				<div>{{- description }}</div>
			</div>
		</div>

		<div class="col-xs-2">
			<img src="{{= thumbnail }}">
		</div>
		<div class="col-xs-2">
			<button class="js-btn-edit btn btn-default" type="button">Edit</button>
			<button class="js-btn-remove btn btn-default" type="button">Remove</button>
		</div>
	</script>

	<script type="text/template" id="tpl-listting-form-product-create">
		<div class="row u-pad-v-20">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="new-product-title" class="col-xs-3 text-right">Title</label>
					<input id="new-product-title" class="col-xs-8" type="text" placeholder="Ener title" value="{{-title}}">
				</div>

				<div class="form-group">
					<label for="new-product-description" class="col-xs-3 text-right">Description</label>
					<input id="new-product-description" class="col-xs-8" type="text" placeholder="Enter description" value={{-description}}>
				</div>

				<div class="form-group">
					<label for="new-product-image-link" class="col-xs-3 text-right">Image Link</label>
					<input id="new-product-image-link" class="col-xs-8" type="text" placeholder="Enter Image Link" value="{{-imageLink}}">
				</div>
			</div>

			<div class="col-xs-2">
				<img class="js-product-image product-image" src="{{-imageLink}}">
			</div>

			<div class="col-xs-2">
				<button class="js-btn-add btn btn-default"  type="button">Add</button>
			</div>
		</div>
		
	</script>

	<script type="text/template" id="tpl-listing-form-product-list">
		<div class="row">
			<h4>Products</h4>	
		</div>
		<div class="row">
			<div class="js-products-container products-container"></div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 ">
				<button class="js-add-product btn btn-default u-margin-t-20 pull-right" type="button">Add Product</button>
			</div>
		</div>
		
		
	</script>

	<script type="text/template" id="tpl-listing-form-form">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<h3 class="col-xs-12">Create Listing</h3>
			</div>

			
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2 text-right">Header</label>
					<input id="listing-header" class="col-xs-5" type="text">
				</div>

				<div class="form-group">
					<label class="col-xs-2 text-right">Description</label>
					<input id="listing-description" class="col-xs-5" type="textarea">
				</div>

				<div class="js-product-container form-group"></div>

				<div class="form-group">
					<div class="col-xs-12">
						<button class="btn btn-primary" type="submit">Create Listing</button>
					</div>
				</div>
			</form>
		</div>
	</script>



	<script type="text/template" id="tpl-listing-layout">
		<div class="header-section-container"></div>
		<div class="item-description-section-container"></div>
		<div class="item-collection-container"></div>
		<div class="shipping-container"></div>
		<div class="disclaimer-section-container"></div>
	</script>

	<script type="text/template" id="tpl-section">
		<div class="col-xs-12 section-header">
			<h4>{{- header }}</h4>
		</div>
		<div class="col-xs-12 section-content"></div>
	</script>

	<script type="text/template" id="tpl-listing-header">
		<div class="col-xs-12">
			<h1 class="page-header">{{- itemName }}</h1>
			<div class="lead">{{- description }}</div>
		</div>
	</script>

	<script type="text/template" id="tpl-shipping">
		<ul class="list-group">
			<li class="list-group-item">All items come bagged and boarded.</li>
			<li class="list-group-item"><a href="http://imgur.com/a/tX3n3" target="blank">Example of Mailing Process</a></li>
			<li class="list-group-item">Feel free to browse <a href="http://www.ebay.com/sch/how_bout_some_comics/m.html">my other items</a>. All items can be combined for a set $5.00 shipping fee.</li>
		</ul>
	</script>

	<script type="text/template" id="tpl-disclaimer">
		<div>
			If you have any questions regarding the items, please, feel free to ask and I'll answer as best as I can.
		</div>
		<div style="margin-top:25px;">
			Thanks for looking!
		</div>	
	</script>

	<script type="text/template" id="tpl-item">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="itemTitle panel-title">{{- itemNumber }}) {{- title }}</h3>
			</div>
			<div class="panel-body"> 
				<a class="col-xs-12" href="{{- imgLink }}">
					<img class="block width100" src="{{- thumbnail }}" title="{{- title }}" />
				</a>
			</div>
		</div>
	</script>

</body>
</html>